* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif ;
}

header{
    width: 100%;
    display: flex;
    align-items: center;
    gap: 50px;
    padding: 20px;
}

.logo-header{
    width: 70px;
}

.navegacao{
    display: flex;
    gap: 20px;
}

.navegacao a{
    text-decoration: none;
    color: whitesmoke;
    transition: 0.3s;
    font-size: 20px;
}

.navegacao a:hover{
    font-size: 21px;
    color: #c51111;
}

main{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 96px 96px 0px 96px;
    height: 100%;
    margin-top: 70px;
}

.esquerda{
    width: 50%;
    padding-left: 6%;
}

.esquerda-container{
    padding-bottom: 20px;
    width: 100%;
}

.logo-mario{
    width: 40%;
}

.enunciado{
    width: 80%;
}

p{
    color: white;
    line-height: 26px;
}

.contato{
    width: 150px;
    height: 50px;
    border-radius: 4px;
    border: none;
    text-transform: uppercase;
    background-color: #c51111;
    cursor: pointer;
    font-weight: bold;
    color: black;
}

.contato:hover{
    background-color: #f03f3f;
    color: whitesmoke;
}

.direita{
    width: 50%;
    display: flex;
    justify-content: center;
}

.logo-mario-luigi{
    width: 60%;
}

.mascara{
    z-index: -1;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    background: linear-gradient(109deg, rgba(10, 12, 16, 0.99) 15%, rgba(10, 12, 16, 0.7) 50%, rgba(10, 12, 16, 0.99) 85%);
}

.video{
    top: 0;
    position: fixed;
    z-index: -2;
}

video{
    min-height: 100%;
    min-width: 100%;
    position: fixed;
    top: 0;
}

.whatsapp{
    width: 50px;
    position: fixed;
    right: 20px;
    bottom: 20px;
}

.mascara-formulario{
    visibility:hidden;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    background: linear-gradient(109deg, rgba(10, 12, 16, 0.99) 15%, rgba(10, 12, 16, 0.7) 50%, rgba(10, 12, 16, 0.99) 85%);
    transition: visibility 0.6s ease-in-out;
    z-index: 8;
}

.formulario{
    width: 100%;
    display: flex;
    justify-content: center;
}

.formulario-conte-problema{
    background-color: white;
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 25%;
    left: -280px;
    gap: 20px;
    border-radius: 10px;
    padding: 40px 20px 40px 20px;
    transition: left 0.6s ease-in-out;
    display: flex;
    align-items: center;
    z-index: 10;
}

input{
    height: 40px;
    width: 250px;
    border-radius: 5px;
    border: 1px solid rgb(54, 50, 50);
    padding-left: 5px;
    outline-color: #c51111;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}

textarea{
    height: 100px;
    width: 250px;
    border-radius: 5px;
    border: 1px solid rgb(54, 50, 50);
    padding-left: 5px;
    outline-color: #c51111;
}

.botao-form{
    width: 150px;
    height: 50px;
    border-radius: 4px;
    border: none;
    text-transform: uppercase;
    background-color: #c51111;
    cursor: pointer;
    font-weight: bold;
    color: black;
}
/*Desktop Resolution*/
@media(max-width: 1024px){
     main{
        padding: 0px 50px 0px 50px;
    }
    .esquerda-container{
        padding-bottom: 60px;
    }
    .esquerda{
        width: 100%;
        padding-left: 0;
    }
    .logo-mario{
        width: 35%;
    }
    .enunciado{
        width: 76%;
    }
    .logo-mario-luigi {
        width: 145%;
    }
}
/*Laptop Resolution*/
@media(max-width: 768px){
    main{
        padding: 90px 50px 0px 50px;
    }
    .esquerda-container{
        padding-bottom: 60px;
    }
    .esquerda{
        width: 100%;
        padding-left: 0;
    }
    .logo-mario{
        width: 43%;
    }
    .enunciado{
        width: 100%;
    }
    .logo-mario-luigi {
        width: 145%;
    }
}
/*Mid Resolution Mobile and Laptop*/
@media(max-width: 767px){
    header{
        text-align: center;
        gap: 10px;
    }
    main{
        padding: 0px 20px 0px 20px;
        margin-top: 20px;
    }
    .esquerda{
        z-index: 5;
    }
    .esquerda-container{
        padding-bottom:15px;
    }
    .logo-mario {
    width: 60%;
    }
    .enunciado{
        width: 115%;
    }
    p{
        line-height: 20px;
        font-size: 15px;
        text-shadow: 
                1px 1px 1px black,
                -1px -1px 1px black,
                1px -1px 1px black,
                -1px 1px 1px black;
    }
    .logo-mario-luigi {
        width: 207px;
    }
}

/*Mobile Resolution*/
@media(max-width: 376px){
    header{
        text-align: center;
    }
    main{
        padding: 0px 10px 0px 10px;
    }
    .logo-header{
        width: 50px;
    }
    .navegacao{
        text-align: center;
    }
    .navegacao a{
        font-size: 15px;
    }
    .logo-mario{
        width: 70%;
    }
    .enunciado{
        width: 110%;
    }
    .enunciado p{
        font-size: 15px;
        line-height: 15px;
    }
    .logo-mario-luigi{
        width: 200px;
    }
    .nome{
        height:30px;
        width:170px ; 
    }
    .numero{
        height:30px;
        width:170px ; 
    }
    .problema{
        width:170px;
        height:80px ;
    }
}
